@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: #777;
    font-family: 'Open Sans', sans-serif;
}


.card {
    max-width: 420px;
    margin: 1em;
    width: 100%;
    border-radius: 3rem;
    padding: 2em;
    background-color: #eaeaea;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    margin: 0.5em;
    border-radius: 50%;
    border: none;
    height: 46px;
    width: 46px;
    outline: none;
    background-color: #7c7c7c2b;
    color: rgba(0, 0, 0, 0.679);
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

button:hover {
    background: #cac2c22b;
}

input {
    border: none;
    outline: none;
    padding: 0.5em 1em;
    border-radius: 24px;
    background: #444343c8;
    color: #fff;
    font-family: inherit;
    width: calc(100% -90px);
}

h2 .temp{
    margin: 0;
    margin-bottom: .3rem;
    
}